<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Ntara | Modal</title>
  <script type="module" src="/dist/ntara-components/ntara-components.esm.js"></script>
  <script nomodule src="/dist/ntara-components.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div style="width: 45%; display: inline-block">
    Native Modal
    <button onclick="document.querySelector('#nativeModal').show = true">Open</button>
    <ntara-modal id="nativeModal" lightbox="0.75" z-index="5" closeOutside="false">
      <h1>Hello</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio neque similique unde
        odio iste ea commodi
        labore totam cupiditate illum tempore corporis nostrum hic, quae sequi facilis accusamus explicabo incidunt.</p>
    </ntara-modal>
    <script>
      const nativeModal = document.getElementById('nativeModal');

      nativeModal.addEventListener('modal-closed', ev => console.log(ev.target.id, ev.type));
      nativeModal.addEventListener('modal-opened', ev => console.log(ev.target.id, ev.type));
      nativeModal.addEventListener('close-clicked', ev => console.log(ev.target.id, ev.type));

    </script>
  </div>
  <div id="app" style="width: 45%; display: inline-block">
    Vue Modal
    <button @click="showModal = true">Open</button>
    <ntara-modal id="vueModal" :show="showModal" lightbox="0.75" z-index="5" @close-clicked="showModal = false"
      @modal-opened="event => log(event.target.id, event.type)"
      @modal-closed="event => log(event.target.id, event.type)">
      <h1>Hello</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio neque similique unde
        odio iste ea commodi
        labore totam cupiditate illum tempore corporis nostrum hic, quae sequi facilis accusamus explicabo incidunt.</p>
    </ntara-modal>
  </div>
  <script>
    Vue.config.ignoredElements = ['ntara-modal'];

    new Vue({
      el: '#app',
      data: {
        showModal: false
      },
      methods: {
        log(target, type) {
          console.log(target, type);
        }
      }
    })

  </script>
  <style>
    body {
      width: 800px;
      margin: 0 auto;
      padding-bottom: 100vh;
    }

    section {
      height: 50vh;
      border: 1px solid black;
      background-color: white;
    }

    .flex {
      display: flex;
      border: 1px solid black;
    }

  </style>
  <main>
    <section>
      <ntara-sticky>
        Section 1
      </ntara-sticky>
      <ntara-sticky>
        Section 1 - 2
      </ntara-sticky>
    </section>
    <section>
      <ntara-sticky offset="20">
        Section 2
      </ntara-sticky>
    </section>
    <section>
      <ntara-sticky offset="40" z-index="100">
        <div class="flex">
          Section 3
        </div>
      </ntara-sticky>
    </section>
  </main>
</body>

</html>
